// Breakpoints
$breakpoints: (
  mobile: 23.4375em,
  // 375px
  tablet: 48em,
  // 768px
  desktop: 90em, // 1440px
);

// Mixin
@mixin mq($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

// Function to convert px to rem
@function rem($px) {
  @return ($px / $font-size-base) * 1rem;
}

// Color
$white: #fff;
$black: #000;
$color-bg-start: #14131b;
$color-bg-end: #08070b;
$green200: #a4ffaf;
$yellow300: #f8cd65;
$orange400: #fb7c58;
$red500: #f64a4a;
$grey200: #e6e5ea;
$grey600: #817d92;
$grey700: #54535b;
$grey800: #24232c;
$grey850: #18171f;
$grey900: #14131b;
$grey950: #08070b;

// Typography
$font-size-base: 16; // px
$line-height-base: 1.25;
$font-weight-bold: 700;
$font-family: "JetBrains Mono", monospace;

// Remove default arrows (spin buttons) from number inputs
// For Chrome, Safari, Edge, and Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// For Firefox
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@mixin bg-gradient {
  background: linear-gradient(180deg, $color-bg-start 0%, $color-bg-end 100%);
}

body {
  @include bg-gradient; // background color
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: $font-family;
  color: $white;
  font-size: rem(16);
  line-height: $line-height-base;
  font-weight: $font-weight-bold;

  @include mq(tablet) {
    font-size: rem(18);
    line-height: 1.3;
  }
}

main {
  max-width: rem(540);
  width: 100%;
  padding: 0 rem(16);
}

.generator {
  display: flex;
  flex-direction: column;
  gap: rem(16);

  @include mq(tablet) {
    gap: rem(32);
  }
}

.title {
  color: $grey600;
  text-align: center;

  @include mq(tablet) {
    font-size: rem(24);
    line-height: 1.3;
  }
}

.password-display {
  background: $grey800;
  padding: rem(16);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(tablet) {
    padding: rem(16) rem(32);
  }
}

.password-display__text {
  color: $grey700;
  font-size: rem(24);
  line-height: 1.3;

  @include mq(tablet) {
    font-size: rem(32);
  }
}

.password-display__icon {
  width: rem(21);
  height: rem(24);
  color: $green200;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: $white;
  }
}

.generator__body {
  background: $grey800;
  padding: rem(16);
  color: $grey200;
  display: flex;
  flex-direction: column;
  gap: rem(32);

  @include mq(tablet) {
    padding: rem(24) rem(32);
    margin-top: rem(-8); // gap32px - 8px
  }
}

.length {
}

.length__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.generator__label {
}

.length__display {
  color: $green200;
  font-size: rem(24);
  line-height: 1.3;
}

.generator-slider {
  appearance: none;
  -webkit-appearance: none;
  margin-top: rem(8);
  width: 100%;
  height: rem(8);
  background: $grey900;
  cursor: pointer;

  &:hover::-webkit-slider-thumb {
    border-color: $green200;
    background: $grey850;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: rem(24); // 28px - 2px -2px
    height: rem(24); // 28px - 2px -2px
    background: $white;
    border-radius: 50%;
    border: 2px solid $white;
    transition: all 0.2s ease;
  }

  // For Firefox
  &::-moz-range-thumb {
    width: rem(28);
    height: rem(28);
    border-radius: 50%;
    background: $grey200;
    border: 2px solid transparent;
    cursor: pointer;
  }
}

.generator__options {
}

.generator__option {
}

.generator__checkbox {
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid $white;
  width: rem(20);
  height: rem(20);
  margin-right: rem(16);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    border-color: $green200;
  }

  &:checked {
    border-color: $green200;
    background: $green200;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: url(../images/icon-check.svg);
    display: none;
  }

  &:checked::after {
    display: block;
  }

  @include mq(tablet) {
    margin-right: rem(24);
  }
}

.generator__label {
}

.strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(14);
  background: $grey850;

  @include mq(tablet) {
    padding: rem(24) rem(32);
  }
}

.strength__title {
  color: $grey600;
}

.strength__wrapper {
  display: flex;
  justify-content: flex-end;
  gap: rem(16);
}

.strength__text {
  display: none;
  text-transform: uppercase;
  font-size: rem(24);
}

.strength__bars {
  max-width: rem(64);
  width: 100%;
  display: flex;
  gap: rem(8);
}

.strength__bar {
  border: 2px solid $grey200;
  width: rem(10);
  height: rem(28);
}

.button {
  background: $green200;
  line-height: 1.3;
  padding: rem(16) 0;
  width: 100%;
  display: flex;
  gap: rem(16);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: rem(-16); // gap32px - 16px
  border: 2px solid $green200;
  transition: all 0.2s ease;

  &:hover {
    background: $grey850;
    color: $green200;
  }

  @include mq(tablet) {
    padding: rem(24) 0;
  }
}

.arrow-icon {
  width: rem(12);
  height: rem(12);
}
